# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-rubinius-terminal': [
    {
      'label': 'Rubinius Terminal'
      'submenu': [
        {
          'label': 'Open'
          'command': 'atom-rubinius-terminal:open'
        }
        {
          'label': 'Split Right'
          'command': 'atom-rubinius-terminal:split-right'
        }
        {
          'label': 'Split Left'
          'command': 'atom-rubinius-terminal:split-left'
        }
        {
          'label': 'Split Up'
          'command': 'atom-rubinius-terminal:split-up'
        }
        {
          'label': 'Split Down'
          'command': 'atom-rubinius-terminal:split-down'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Rubinius Terminal'
      'submenu': [
        {
          'label': 'Open'
          'command': 'atom-rubinius-terminal:open'
        }
        {
          'label': 'Split Right'
          'command': 'atom-rubinius-terminal:split-right'
        }
        {
          'label': 'Split Left'
          'command': 'atom-rubinius-terminal:split-left'
        }
        {
          'label': 'Split Up'
          'command': 'atom-rubinius-terminal:split-up'
        }
        {
          'label': 'Split Down'
          'command': 'atom-rubinius-terminal:split-down'
        }
      ]
    ]
  }
]
