# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  'ctrl-alt-T': 'atom-rubinius-terminal:open'
  'ctrl-alt-right': 'atom-rubinius-terminal:split-right'
  'ctrl-alt-left': 'atom-rubinius-terminal:split-left'
  'ctrl-alt-up': 'atom-rubinius-terminal:split-up'
  'ctrl-alt-down': 'atom-rubinius-terminal:split-down'

'.rubinius-terminal':
  'cmd-v': 'atom-rubinius-terminal:paste'
  'ctrl-v': 'atom-rubinius-terminal:paste'
